<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>healthy.tomwhealthwholesaler.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://healthy.tomwhealthwholesaler.com:8172/MsDeploy.axd?site=tomwallace-001-subsite8</MSDeployServiceURL>
    <DeployIisAppPath>tomwallace-001-subsite8</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\tomwallace-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HealthWholesaler.Models.ApplicationDbContext, HealthWholesaler" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HealthWholesalerDBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=sql6003.site4now.net;Initial Catalog=DB_A1F5B7_healthDB;Persist Security Info=True;User ID=DB_A1F5B7_healthDB_admin;Password=maximus3;TrustServerCertificate=True" Name="Data Source=sql6003.site4now.net;Initial Catalog=DB_A1F5B7_healthDB;Persist Security Info=True;User ID=DB_A1F5B7_healthDB_admin;Password=maximus3;MultipleActiveResultSets=True;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HealthWholesaler.Models.HealthWholesalerDBEntities, HealthWholesaler" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HealthWholesalerDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql6003.site4now.net;Initial Catalog=DB_A1F5B7_healthDB;Persist Security Info=True;User ID=DB_A1F5B7_healthDB_admin;Password=maximus3;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>